* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  background:linear-gradient(135deg, #ECFDF6 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, #ECFDF6 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, #ECFDF6 25%, transparent 25%),
  linear-gradient(45deg, #ECFDF6 25%, transparent 25%);
  background-size: 100px 100px;
  height: 100vh;
  width: 100%;
  background-color: #f6fffc;;
  display: flex;
  justify-content: center;
  align-items: center;
}